@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap');

body {
  background-color: honeydew;
  background: linear-gradient(45deg, lavenderblush 0%, honeydew 50%, #eee 100%)
    no-repeat 50% fixed;
  width: 100%;
  padding: 0;
  margin: 0;
  color: darkgreen;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
  font-size: 3em;
  color: indigo;
}

h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: 500;
  color: indigo;
}

h3 {
  font-family: 'DM Serif Display', serif;
  /* font-size: 1.8em; */
}

h4 {
  font-family: 'DM Serif Display', serif;
  font-weight: 500;
  color: indigo;
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
  color: purple;
  font-weight: bold;
}

h6 {
  font-size: 0.8em;
  color: darkgreen;
  text-transform: uppercase;
  font-weight: bold;
}

header {
  background-color: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: darkgreen;
  z-index: 10;
}

main {
  margin-top: 85px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.main-col {
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

a {
  text-decoration: none;
  color: purple;
}

a:hover {
  color: mediumvioletred;
}

input[type='text'],
input[type='password'],
input[type='number'] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
}

button {
  border: none;
  background-color: mediumvioletred;
  color: white;
  padding: 5px 20px;
  border-radius: 25px;
  margin: 5px;
}

.vertical-center {
  align-items: center;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-text {
  font-size: .8em;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 4px;
  letter-spacing: -2px;
}


.header-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}

.header-links li {
  padding: 6px;
  font-size: 1.5em;
}

.white-box {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 800px;
  width: 90%;
  padding: 20px;
  margin: 10px;
}

.info-page-box {
  width: 40%;
}

.red-box {
  background-color: rgb(235, 164, 164);
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 800px;
  width: 90%;
  padding: 20px;
  margin: 10px;
}

.darkgreen {
  color: darkgreen;
}

.indigo {
  color: indigo;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.flex-col-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.title-header {
  margin-bottom: 40px;
}

.developer-links {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.info-sticky {
  font-size: 2.4em;
  color: indigo;
  position: fixed;
  bottom: 20px;
  right: 10px;
  opacity: 0.5;
}

.info-sticky:hover {
  opacity: 1;
}

.instruction {
  font-weight: bold;
  color: indigo;
  font-size: 1.2em;
  margin-top: 20px;
}

.file-btn {
  background-color: mediumvioletred;
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
}

.collection-box {
  width: 80%;
}

.collection-text {
}

/* .plant-row-img {
  background-color: purple;
  background: linear-gradient(10deg, seagreen 0%, seagreen 50%, plum 100%)
    no-repeat 50% fixed;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: white;
  font-weight: 900;
  text-shadow: #333 1px 1px 20px;
} */

.feed-img {
  /* max-width: 600px; */
  width: 100%;
  height: auto;
  margin: auto;
  background-color: black;
  object-fit: cover;
}

.img-container {
  width: 100%;
  background-color: white;
}

.feed-container {
  position: relative;
  height: 100%;
}

.search-form {
  width: 49%;
  min-width: 340px;
  position: fixed;
  top: 90px;

  border-radius: 10px;
}

.searchbar {
  width: 100%;
}

.search-btn {
  width: 100px;
}

.search-feed {
  /* margin-top: 20%; */
  margin-top: 150px;
}

.plant-detail-btns {
  flex-wrap: wrap;
}

.reminder-container {
  background-color: honeydew;
  height: 60px;
  border-radius: 5px;
  border: solid 1px;
  align-items: center;
  margin-bottom: 5px;
  border-color: lightgreen;
}

.plant-row-name {
  margin-bottom: 0px;
  padding: 0px;
}

.feed-heading p {
  margin: 0;
  font-weight: bold;
}

.feed-heading {
  padding: 0;
  padding-bottom: 2%;
}

.subtitle {
  text-align: center;
}
#plant-form input {
  margin-top: 5%;
}

.margin-top {
  margin-top: 3%;
}

.contact-pic {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

.image-crop {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.plant-photo {
  display: inline;
  margin: 0 auto;
  width: auto;
}

.colorbox {
  background-color: honeydew;
  background: linear-gradient(45deg, indigo 0%, lavenderblush 50%, white 100%)
    no-repeat 50% fixed;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  color: indigo;
  font-family: 'DM Serif Display', serif;
}

.session-errors {
  margin-top: 3%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.splash-items p {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.hero {
  height: 200px;
  width: auto;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 500px) {
  /* insert styles here */
  .search-feed {
    margin-top: 33%;
  }
  .search-form {
    width: 50%;
    min-width: 340px;
    position: fixed;
    top: 70px;

    border-radius: 10px;
  }
  .collection-box {
    flex-direction: column;
  }

  .collection-type {
    align-items: center;
  }

  .reminder-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .center-text-mobile {
    text-align: center;
  }

  .info-page-box {
    width: auto;
  }

  .header-text {
    display: none;
  }
}