@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap');

body {
  position: relative;
  background-color: #85FFBD;
  background: linear-gradient(45deg, lavender 0%, lightgreen 50%, seagreen 100%) no-repeat 50% fixed;
  font-family: 'Karla', sans-serif;
  letter-spacing: -0.05em;
  /* height: 100vh; */
  max-width: 600px;
  margin: auto;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 2.2em;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  font-weight: 900;
}

h3 {
  font-size: 1.05em;
  font-weight: 900;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h5 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: purple;
}

footer {
  position: fixed;
  bottom: 0;
  height: 12%;
  background-color: #85FFBD;
  background: linear-gradient(45deg, lavender 0%, lightgreen 50%, lightgreen 100%) no-repeat 50% fixed;
  max-width: 600px;
  box-shadow: 0px 0px 20px green;
  z-index: 5;
}

.icon {
  font-size: 2.4em;
  padding: 3% 0;
  color: forestgreen;
}

.icon:hover {
  color: indigo;
}

.icon-active {
  color: indigo;
}

.home {
  font-size: 3em;
}

.white {
  color: white;
}

.indigo {
  color: indigo;
}

.purple {
  color: purple;
}

.mediumvioletred {
  color: mediumvioletred;
}

.bold {
  font-weight: bold;
}

.leaf-icon {
  color: darkgreen;
}

.title {
  color: white;
  text-shadow: green 2px 2px 5px;
  padding: 2% 10%;
  border-radius: 5px;
  display: inline;
  white-space: nowrap;
}

.title:hover {
  color: darkgreen;
  text-shadow: none;
  transition: 0.5s;
}

.title-dark {
  color: darkgreen;
  padding: 2% 10%;
  border-radius: 5px;
  display: inline;
  white-space: nowrap;
}

.subtitle {
  color: purple;
}

.space-above {
  margin-top: 15%;
}

.session-form {
  margin-top: 10% ;
}

.session-input {
  border: none;
  width: 75%;
  background-color: ghostwhite;
  padding: 0.9% 7%;
  border-radius: 20px;
  font-size: 1.2em;
  color: purple;
}

.session-input:focus {
  outline: none;
  box-shadow: 0 0 20px darkgreen;
  transition: 0.5s;
}

::placeholder {
  font-family: Arial;
  font-size: 0.75em;
  color: #888;
  letter-spacing: -0.05em;
}
:-ms-input-placeholder {color: purple; letter-spacing: -0.05em;}
::-ms-input-placeholder {color: purple; letter-spacing: -0.05em;}

.session-button {
  border: none;
  padding: 1% 7%;
  border-radius: 20px;
  background-color: mediumvioletred;
  color: white;
}

.session-button:hover {
  background-color: purple;
  transition: 0.5s ease-in-out;
}

.session-errors {
  margin: 4% 0;
  color: purple;
  font-size: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-padding {
  padding: 1.5% 0;
}

.form-margin {
  margin-top: 2%;
}

.info-icon-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5%;
  font-size: 1.6em;
  color: purple;
  display: inline;
}

.custom-select {
  width: 50%;
  color: purple;
}

.heading {
  background-color: darkslategray;
  color: white;
  padding: 5% 0 2% 3%;
}

.heading-icon {
  font-size: 1em;
  color: plum;
}

.heading-reminder {
  background-color: indigo;
  color: white;
  padding: 5% 0 2% 3%;
}

.heading-img {
  width: 100%;
  height: 300px;
  margin: auto;
  background-color: darkslategray;
  background-size: cover;
}

.plant-profile-pic {
  width: 100%;
  height: 300px;
  object-fit: scale-down;
}

.feed-img {
  /* max-width: 600px; */
  width: 100%;
  height: auto;
  margin: auto;
  background-color: black;
  object-fit: cover;
}

.break {
  background-color: #1a1a1a;
  padding: 5% 0 2% 3%;
  color: white;
}

.break-icon {
  font-size: 0.9em;
  color: red
}

.reminder-row {
  height: 15%;
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: purple;
  border-top: 1px solid plum;
  border-bottom: 2px solid indigo;
  font-size: 20px;
  font-weight: 900;
  padding: 3%;
  color: white;
}

.note {
  font-size: 0.8em;
}

.done {
  background-color: rgba(255, 255, 255, 0.3);
  border-top: 1px solid lightgreen;
  border-bottom: 1px solid #333;
  color: purple;
}

.logout-btn {
  height: 15%;
  border: none;
  background-color: #333;
  padding: 5% 3%;
  border-bottom: 1px solid #333;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 0.9em;
  font-weight: 900;
}

.img-box {
  height: 80px;
  width: 80px;
  background-color: purple;
  background: linear-gradient(45deg, purple 0%, plum 50%, yellow 100%) no-repeat 50% fixed;
  border-radius: 10px;
  margin: 10px;
}

.push-center {
  margin-top: 120px;
  margin-bottom: 15%;
}

.splash-login {
  font-size: 1.2em;
  font-weight: 900;
  color: #222;
  padding: 1% 5%;
  background-color: white;
  margin: 0 25% 0 25%;
  /* width: 50vw; */
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 20px green;

}

.splash-signup {
  font-size: 1em;
  font-weight: 900;
  color: #222;
  padding: 3%
}

.flex-row-start {
  display: flex;
  justify-content: flex-start;
}

.plant-row {
  border-top: 1px solid lightgreen;
  border-bottom: 1px solid seagreen;
  background-color: lightgreen;
}

.plant-row:hover {
  background-color: plum;
}

.plant-row-img {
  background-color: purple;
  background: linear-gradient(10deg, seagreen 0%, seagreen 50%, plum 100%) no-repeat 50% fixed;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: white;
  font-weight: 900;
  text-shadow: #333 1px 1px 20px;
}

.plant-row-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.plant-row-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plant-row-name {
  font-weight: bold;
  text-transform: uppercase;
  color: indigo;
}

.plant-row-type {
  font-size: 0.9em;
  font-style: italic;
  color: purple;
}

.plant-row-light {
  background-color: lightyellow;
  border-top: 1px solid lightgreen;
  border-bottom: 1px solid darkgreen;
}

.plant-row-dark {
  background-color: palegreen;
  border-top: 1px solid lightgreen;
  border-bottom: 1px solid darkgreen;
}

.row-end {
  height: 120px;
}

.plant-name {
  font-size: 2.4em;
}

.plant-type {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  color: #ccc;
}

.plant-bio {
 font-size: 1.1em;
 font-style: italic;
}

.select-num {
  width: 20%;
  text-align: center;
}

.form-subtitle {
  font-size: 0.9em;
  margin-top: 4%;
  color: purple;
}

.img-container {
  width: 100%;
  background-color: white;
}

.feed-container {
  position: relative;
  height: 100%;
}

.feed-heading {
  width: 100%;
  height: 50px;
  background-color: indigo;
  color: white;
  font-size: 1.1em;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.feed-caption {
  background-color: lightgreen;
  width: 100%;
  height: auto;
  color: black;
  padding: 10px 20px;
}

.feed-date {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  color: indigo;
  text-align: right;
  width: 100%;
}

.feed-text {
  font-size: 1.2em;
  color: black;
}

div.clear-margin {
  padding: 0;
}

.follow-btn {
  border: none;
  border-radius: 5px;
  background-color: white;
  color: indigo;
  font-size: 0.8em;
  font-weight: bold;
}

.plant-detail-btn {
  border: none;
  width: 22%;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: indigo;
  font-weight: bold;
  margin-top: 3%;
  margin-right: 3%;
}

.searchbar {
  border-radius: 20px;
  padding: 1%;
  width: 70%;
  border: none;
  margin: 15px;
  text-align: center;
  font-size: 1.2em;
}

.search-btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.4em;
}

.search-form {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
  background-color: #1a1a1a;
}

.team-member > ul {
  list-style: none;
}

.member-name {
  font-size: 20px;
}